.account-tab-bar-container {
  padding: 2px;
  margin: 20px 10px;
  white-space: nowrap;
  background-color: #E6EAF0;
  border-radius: 8px;
  overflow: hidden;
  }
.account-tab-bar{
  padding: 3px;
  border-radius: 8px;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.account-tab-bar::-webkit-scrollbar {
  display: none;
}
.account-tab {
  padding: 5px 20px;
  margin: 0 5px 0 0;
  font-weight: bold;
  color: #7183A4;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
.account-tab:hover {
  color: #474D5E;
  transition: 0.3s;
}
.account-tab-active{
  padding: 5px 20px;
  margin: 0 5px 0 0;
  font-weight: bold;
  color: #474D5E;
  background: #FFFFFF;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 8px rgba(0,0,0,0.12);
}
.account-container{
  margin: 20px 10px;
}
.account-title{
  padding: 0 0 14px 10px;
  font-size: 20px;
  font-weight: bold;
  color: #474D5E;
}
.account-title span{
  padding: 9.5px 0;
  font-size: 14px;
  font-weight: normal;
  float: right;
}
.account-title span select{
  padding: 5px;
  margin-top: -5px;
  background: #E6EAF0;
  outline: none;
  border: 1px solid #7183A4;
  border-radius: 4px;
  cursor: pointer;
}
.account-rounded-tab-container{
  margin-bottom: 15px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  overflow: hidden;
  background: #FFFFFF;

  min-height: 200px;
}
.account-rounded-tab-header{
  padding: 10px;
  background: #E6EAF0;
  overflow: hidden;
}
.account-rounded-tab-content{
  padding: 20px;
}

/*  Personal Page CSS  */
.personal-account-tab{
  padding: 20px;
  border-bottom: 1px solid #e2e2e2;
  overflow: hidden;
}
.personal-account-tab:last-child{
  border-bottom: 0px;
}
.personal-account-tab-title{
  width: 20%;
  font-weight: bold;
  float: left;
}
.personal-account-tab-title-content{
  width: 80%;
  float: left;
}
.personal-account-tab-title-content span{
  font-weight: bold;
  font-style: italic;
  color: #777777;
  margin-top: 0;
  float: right;
  cursor: pointer;
}

/*  Orders Page CSS  */
.orders-header-left{
  width: 20%;
  float: left;
}
.orders-header-middle{
  width: 60%;
  text-align: center;
  float: left;
}
.orders-header-right{
  width: 20%;
  text-align: right;
  float: left;
}
.orders-header-title{
  font-weight: bold;
}

.orders-delivery-details{
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid #c0c0c0;
}
.orders-delivery-track{
  padding: 5px 15px;
  margin-top: -5px;
  font-size: 14px;
  font-weight: normal;
  color: #FFFFFF;
  background: #2f89fc;
  border-radius: 8px;
  float: right;

  cursor: pointer;
}
.orders-item-container{
  padding: 10px 0;
  overflow: hidden;
}
.orders-item-image{
  width: 16%;
  height: 140px;
  text-align: center;
  float: left;
}
.orders-item-image img{
  height: 100%;
}
.orders-item-content{
  width: 70%;
  padding: 20px;
  min-height: 140px;
  float: left;
}
.orders-item-content-title{
  font-size: 22px;
  color: #333333;
}
.orders-item-content-price{
  font-size: 16px;
  font-weight: bold;
  color: #2f89fc;
}
.orders-item-content-review{
  padding: 6px 15px;
  margin-top: 5px;
  color: #FFFFFF;
  background: #2f89fc;
  border-radius: 8px;
  float: left;

  cursor: pointer;
}















@media only screen and (max-width: 975px) {

}

@media only screen and (max-width: 600px) {
  /*  Personal Page CSS  */
  .personal-account-tab{
    font-size: 12px;
    padding: 20px 10px;
  }
  .personal-account-tab-title{
    width: 26%;
  }
  .personal-account-tab-title-content{
    width: 74%;

  }
  .personal-account-tab-title-content span{
    font-size: 10px;
  }
}
@media only screen and (max-width: 375px) {
  

}
  @keyframes scale {
    0%{
      transform: scale(1.0);
    }
    100%{
      transform: scale(1.05);
    }
  }
  