.hidden{
  display: none;
}




.account-tab-bar-container {
  padding: 2px;
  margin: 20px 10px;
  white-space: nowrap;
  background-color: #E6EAF0;
  border-radius: 8px;
  overflow: hidden;
  }
.account-tab-bar{
  padding: 3px;
  border-radius: 8px;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.account-tab-bar::-webkit-scrollbar {
  display: none;
}
.account-tab {
  padding: 5px 20px;
  margin: 0 5px 0 0;
  font-weight: bold;
  color: #7183A4;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
.account-tab:hover {
  color: #474D5E;
  transition: 0.3s;
}
.account-tab-active{
  padding: 5px 20px;
  margin: 0 5px 0 0;
  font-weight: bold;
  color: #474D5E;
  background: #FFFFFF;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 8px rgba(0,0,0,0.12);
}
.account-container{
  margin: 20px 10px;
}
.account-title{
  padding: 0 0 14px 10px;
  font-size: 20px;
  font-weight: bold;
  color: #474D5E;
}
.account-title span{
  padding: 9.5px 0;
  font-size: 14px;
  font-weight: normal;
  float: right;
}
.account-title span select{
  padding: 5px;
  margin-top: -5px;
  background: #E6EAF0;
  outline: none;
  border: 1px solid #7183A4;
  border-radius: 4px;
  cursor: pointer;
}
.account-rounded-tab-container{
  margin-bottom: 15px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  overflow: hidden;
  background: #FFFFFF;

  min-height: 200px;
}
.account-rounded-tab-header{
  padding: 10px 20px;
  background: #E6EAF0;
  overflow: hidden;
}
.account-rounded-tab-content{
  padding: 20px;
}

/*  Personal Page CSS  */
.personal-account-tab{
  padding: 20px;
  border-bottom: 1px solid #e2e2e2;
  overflow: hidden;
}
.personal-account-tab:last-child{
  border-bottom: 0px;
}
.personal-account-tab-title{
  width: 20%;
  font-weight: bold;
  float: left;
}
.personal-account-tab-title-content{
  width: 80%;
  float: left;
}
.personal-account-tab-title-content span{
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  color: #777777;
  margin-top: 0;
  float: right;
  cursor: pointer;
}

/*  Orders Page CSS  */
.orders-header-left{
  width: 20%;
  float: left;
}
.orders-header-middle{
  width: 60%;
  text-align: center;
  float: left;
}
.orders-header-right{
  width: 20%;
  text-align: right;
  float: right;
}
.orders-header-title{
  font-weight: bold;
}
.orders-delivery-details{
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid #c0c0c0;
  overflow: hidden;
}
.orders-delivery-title{
  float: left;
}
.orders-delivery-track{
  padding: 5px 15px;
  font-size: 14px;
  font-weight: normal;
  color: #FFFFFF;
  background: #2f89fc;
  border-radius: 8px;
  float: right;
  cursor: pointer;
}
.orders-item-container{
  padding: 10px 0;
  overflow: hidden;
}
.orders-item-image{
  width: 16%;
  height: 140px;
  text-align: center;
  float: left;
}
.orders-item-image img{
  height: 100%;
}
.orders-item-content{
  width: 84%;
  padding: 20px;
  min-height: 140px;
  float: left;
}
.orders-item-content-title{
  font-size: 20px;
  color: #333333;
}
.orders-item-content-title:hover{
  text-decoration: underline;
}
.orders-item-content-price{
  font-size: 16px;
  font-weight: bold;
  color: #2f89fc;
}
.orders-item-content-review{
  margin-top: 5px;
  color: #333333;
  border-radius: 4px;
  text-decoration: underline;
  cursor: pointer;
}


/*  Payments Page CSS  */
.payments-header-left{
  width: 50%;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  float: left;
}
.payments-card-icon{
  height: 40px;
  margin-right: 10px;
}
.payments-header-right{
  width: 50%;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  text-align: right;
  float: left;
}
.payments-content-left{
  width: 30%;
  margin-left: 5%;
  float: left;
}
.payments-content-left span{
  font-weight: bold;
}
.payments-content-middle{
  width: 30%;
  float: left;
}
.payments-content-middle span{
  font-weight: bold;
}
.payments-content-right{
  width: 30%;
  margin-right: 5%;
  text-align: right;
  float: right;
}
.payments-card-button{
  width: 100px;
  padding: 8px;
  margin-right: 10px;
  font-weight: bold;
  color: #FFFFFF;
  background: #2f89fc;
  border-radius: 8px;
  border: 0px;
  outline: 0;
  cursor: pointer;
}
.payments-card-button:first-child{
  margin-right: 10px;
}


@media only screen and (max-width: 975px) {

  /*  Orders Page CSS  */
  .orders-header-left{
    font-size: 12px;
  }
  .orders-header-middle{
    font-size: 12px;
  }
  .orders-header-right{
    font-size: 12px;
  }
  .orders-delivery-details{
    font-size: 14px;
  }
  .orders-delivery-track{
    font-size: 12px;
  }
  .orders-item-image{
    width: 18%;
    height: 100px;
  }
  .orders-item-image img{
    height: 100%;
  }
  .orders-item-content{
    width: 82%;
    padding: 5px 20px;
    min-height: 100px;
  }
  .orders-item-content-title{
    font-size: 16px;
  }

  .orders-item-content-price{
    font-size: 14px;
  }
  .orders-item-content-review{
    font-size: 12px;
  }

  /*  Payments Page CSS  */
  .payments-content-left{
    width: 30%;
    margin-left: 5%;
    float: left;
  }
  .payments-content-middle{
    width: 40%;
    float: left;
  }
  .payments-content-right{
    width: 20%;
    margin-right: 5%;
    float: right;
  }
  .payments-card-button{
    margin: 0 0 10px 0;
  }
  .payments-card-button:first-child{
    margin: 0 0 10px 0;
  }
}

@media only screen and (max-width: 600px) {

  /*  Personal Page CSS  */
  .personal-account-tab{
    font-size: 12px;
    padding: 20px 10px;
  }
  .personal-account-tab-title{
    width: 26%;
  }
  .personal-account-tab-title-content{
    width: 74%;

  }
  .personal-account-tab-title-content span{
    font-size: 10px;
  }

  /*  Orders Page CSS  */
  .orders-header-left{
    width: 50%;
  }
  .orders-header-middle{
    width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #CCCCCC;
  }
  .orders-header-right{
    width: 50%;
  }
  .orders-delivery-details{
    font-size: 14px;
  }
  .orders-delivery-track{
    font-size: 12px;
  }
  .orders-item-image{
    width: 24%;
    height: 70px;
  }
  .orders-item-image img{
    height: 100%;
  }
  .orders-item-content{
    width: 76%;
    padding: 0px 10px;
    min-height: 70px;
  }
  .orders-item-content-title{
    font-size: 14px;
  }
  .orders-item-content-price{
    font-size: 12px;
  }
  .orders-item-content-review{
    font-size: 11px;
    margin: 0;
  }


  /*  Payments Page CSS  */
  .payments-header-left{
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 14px;    
  }
  .payments-card-icon{
    height: 20px;
  }
  .payments-header-right{
    display: none;
  }
  .payments-content-left{
    width: 50%;
    margin-left: 0;
  }
  .payments-content-middle{
    width: 50%;
    text-align: right;
  }
  .payments-content-right{
    width: 100%;
    margin: 10px 0;
    text-align: center;
    float: left;
  }
  .payments-card-button{
    margin: 0;
  }
  .payments-card-button:first-child{
    margin: 0 10px 0;
  }
}
@media only screen and (max-width: 375px) {

   /*  Orders Page CSS  */
  .orders-delivery-details{
    height: auto;
    font-size: 14px;
    text-align: left;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  .orders-delivery-title{
    width: 100%;
  }
  .orders-delivery-track{
    font-size: 10px;
    margin: 5px 0;
    float: left;
  }
  .orders-item-image{
    width: 24%;
    height: 50px;
  }
  .orders-item-image img{
    height: 100%;
  }
  .orders-item-content{
    width: 76%;
    padding: 0px 5px;
    min-height: auto;
  }
  .orders-item-content-title{
    font-size: 12px;
  }
  .orders-item-content-price{
    font-size: 11px;
  }
  .orders-item-content-review{
    font-size: 10px;
  }





  /*  Payments Page CSS  */
  .payments-content-left{
    width: 100%;
    margin-bottom: 10px;
  }
  .payments-content-middle{
    width: 100%;
    text-align: left;
  }
  .payments-content-right{
    width: 100%;
    margin: 10px 0;
    text-align: center;
    float: left;
  }
  .payments-card-button{
    margin: 0;
  }
  .payments-card-button:first-child{
    margin: 0 10px 10px;
  }
  
}
  @keyframes scale {
    0%{
      transform: scale(1.0);
    }
    100%{
      transform: scale(1.05);
    }
  }
  