@import '~antd/dist/antd.css';
body{
  font-family: roboto;
  color: #363636;
  background: #FFFFFF;
}
*{
  margin: 0;
  padding: 0;
}
.App{
  min-height: 100vh;
  height: auto;
  position: relative;
}
.container h1{
  margin: 20px 0 10px 15px;
  text-align: center;
  color: #333333;
  font-weight: 400;
  text-align: left;
}
.container{
  margin: 0 auto;
  max-width: 1320px;
  padding: 0px 0px 50px 0px;
  position: relative;
  overflow: hidden;
  min-height: 700px;
}
.slider-image{
  width: 100%;
  height: 360px;
  background: #E7E7E7;
}
.slider-image img{
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}




.home-container{
  width: 100%;
  padding: 20px 10px;
  overflow: hidden;
}
.home-container-title{
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  margin-bottom: 20px;
}
.category-container{
  width: 16.6%;
  float: left;
}
.category-image{
  width: auto;
  min-width: 50%;
  max-width: 75%;
  height: auto;
  margin: 0 auto;
  padding: 5px;
  background: #F7F7F7;
  overflow: hidden;
  border-radius: 100px;
}
.category-image img{
  width: 80%;
  margin: 10%;
}
.category-title{
  padding: 10px;
  font-size: 18px;
  text-align: center;
}

.boxed-items-container{
  width: 14.66%;
  height: auto;
  float: left;
  margin: 1%;
  padding-bottom: 10px;
  background: #F7F7F7;
  border-radius: 8px;
  !box-shadow: 0 1px 5px rgba(0,0,0,0.12);
  overflow: hidden;
}
.boxed-items-image{
  width: 100%;
  min-width: 50%;
  height: auto;
  margin: 0 auto;
  padding: 5px 15%;
  overflow: hidden;
}
.boxed-items-image img{
  width: 100%;
}
.boxed-items-price{
  text-align: center;
  font-weight: bold;
  color: #177bfc;
  padding: 5px;
}
.boxed-items-title{
  height: 50px;
  padding: 5px 10px;
  font-size: 14px;
  text-align: left;
  color: #333333;
  overflow: hidden;
}









.product-container{
  width: 100%;
  height: 100px;
  line-height: 80px;
  padding: 10px;
  margin: 20px auto;
  text-align: center;
  background: #177bfc;
  border-radius: 8px;
}
.product-link{
  color: #FFFFFF;
}
.product-link:hover{
  color: #FFFFFF;
}


















@media only screen and (max-width: 975px) {
  .slider-image{
    height: 260px;
  }
  .category-container{
    width: 33.3%;
  }
}
@media only screen and (max-width: 600px) {
  .slider-image{
    height: 220px;
  }
}
@media only screen and (max-width: 375px) {
  .slider-image{
    height: 160px;
  }
  .category-image{
    min-width: 30%;
    max-width: 60%;
  }
  .category-title{
    font-size: 15px;
  }
}
@keyframes scale {
  0%{
    transform: scale(1.0);
  }
  100%{
    transform: scale(1.05);
  }
}

