.search-bar1{
  display: none;
}



.navbar-container{
  background-color: #2f89fc;
}
.navbar{
  width: 100%;
  max-width: 1320px;
  height: auto;
  padding: 1rem 10px;
  margin: 0 auto;
  background-color: #2f89fc;
  overflow: hidden;
}
.menu-btn-container{
  width: 20%;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  float: left;
}
.menu-btn{
  height: 16px;
  margin: 7px 10px 7px 0px;
  float: left;
  cursor: pointer;
}
.logo{
  height: 30px;
  cursor: pointer;
}
.user-container{
  width: 20%;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  color: #FFFFFF;
  float: right;
}
.user-container-tab{
  width: auto;
  float: right;
}
.user-container-tab p{
  color: #FFFFFF;
  margin: 0 10px;
  float: left;
  cursor: pointer;
}
.user-container-tab-icon{
  height: 20px;
  margin: 5px 0;
  padding-left: 10px;
  float: left;
  cursor: pointer;
}
.cart-badge{
  height: 20px;
  line-height: 18px;
  padding: 0px 5px;
  float: left;
  background: #FFFFFF;
  color: #2f89fc;
  font-size: 14px;
  font-weight: bold;
  margin-left: -10px;
  margin-top: -5px;
  border-radius: 7px;
  border: 1px solid #2f89fc;
}
.search-container{
  width: 60%;
  height: 30px;
  float: left;
  text-align: center;
}
.search-bar{
  width: 90%;
  height: 30px;
  padding: 10px;
  border: 0px;
  outline: 0;
  -webkit-border-radius: 8px;
  -webkit-border-top-rig`ht-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius: 8px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  float: left;
}
.search-btn{
  width: 10%;
  max-width: 40px;
  height: 30px;
  background: #FFFFFF;
  border: 0px;
  outline: 0;
  cursor: pointer;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  float: left;
}
.search-btn-icon{
  height: 16px;
  float: right;
  margin-right: 10px;
}
.sidebar-user-container{
  height: 24px;
  display: flex;
}
.sidebar-user-avatar{
  margin-right: 10px;
  background: #2f89fc;
}
.sidebar-user-username{
  height: 24px;
  line-height: 24px;
  color: #2f89fc;
}
.signin-container{}
.signin-container{
  display: flex;
  align-items: center;
  color: #333333;
}
.signin-link{
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
}
.alert-header{
  height: auto;
  text-align: center;
  padding: 5px;
  color: white;
  background: #2877DE;
}
.alert-header a{
  color: #FFFFFF;
}
.autoship{
  height: 18px;
  padding-right: 5px;
}


/*  MOBILE SCREENS  */
  @media only screen and (max-width: 975px) {
    .menu-btn-container{
      width: 29%;
    }
    .search-container{
      width: 53%;
    }
    .search-bar{
      width: 90%;
    }
    .search-btn{
      width: 10%;
    }
    .user-container{
      width: 18%;
    }
    .user-container-tab p{
      display: none;
    }
  }
  @media only screen and (max-width: 600px) {
    .menu-btn-container{
      width: 50%;
    }
    .search-container{
      width: 100%;
      margin-top: 10px;
    }
    .search-container{
      width: 100%;
    }
    .search-bar{
      width: 92%;
    }
    .search-btn{
      width: 8%;
      max-width: none;
    }
    .user-container{
      width: 50%;
    }
    .user-container-tab-icon{
      padding-left: 20px;
    }
    .user-container-tab p{
      display: inline;
      margin: 0 0 0 10px;
    }
    .cart-badge{
      height: 18px;
      line-height: 16px;
      padding: 0px 5px;
      float: left;
      background: #FFFFFF;
      color: #2f89fc;
      font-size: 11px;
      font-weight: bold;
      margin-left: -10px;
      margin-top: -2px;
      border-radius: 7px;
      border: 1.5px solid #2f89fc;
    }
  }
  @media only screen and (max-width: 375px) {
    .menu-btn-container{
      width: 60%;
    }
    .user-container{
      width: 40%;
    }
    .user-container-tab p{
      display: none;
    }
  }
  @keyframes scale {
    0%{
      transform: scale(1.0);
    }
    100%{
      transform: scale(1.05);
    }
  }