.breadcrumb-trail{
    color: #2f89fc;
    font-size: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    }
.product-image-container{
    width: 30%;
    height: auto;
    float: left;
}
.product-image{
    width: 100%;
}
.product-header{
    width: 67%;
    height: auto;
    margin-left: 3%;
    padding: 0;
    float: left;
}
.product-header-left{
    width: 79%;
    float: left;
}
.product-brand{
    font-size: 16px;
    color: #3089FC;
    margin-top: -6px;
    cursor: pointer;
}
.product-name{
    font-size: 30px;
    font-weight: bold;
    line-height: .9em;
}
.product-rating{
    font-size: 16px;
    font-weight: 600;
    color: #3089FC;
    cursor: pointer;
}
.product-header-right{
    width: 21%;
    max-width: 140px;
    float: right;
}
.product-price{
    font-size: 30px;
    font-weight: 900;
    text-align: right;
    color: #3089FC;
    margin-top: -6px;
}
.product-price-tip{
    font-size: 16px;
    text-align: right;
    line-height: 1.1em;
    margin-top: -6px;
    text-transform: uppercase;
    color: #3089FC;
}

@media only screen and (max-width: 975px) {
  }
  @media only screen and (max-width: 500px) {
  }
  @media only screen and (max-width: 375px) {
  }
  @keyframes scale {
    0%{
      transform: scale(1.0);
    }
    100%{
      transform: scale(1.05);
    }
  }
  