.breadcrumb-trail{
    color: #2f89fc;
    font-size: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}
.product-image-container{
    width: 30%;
    height: auto;
    float: left;
}
.product-image{
    width: 100%;
}
.product-header{
    width: 67%;
    height: auto;
    margin-left: 3%;
    padding: 0;
    float: right;
}
.product-header-left{
    width: 79%;
    float: left;
}
.product-brand{
    font-size: 16px;
    color: #3089FC;
    margin-top: -6px;
    cursor: pointer;
}
.product-name{
    font-size: 30px;
    font-weight: bold;
    line-height: .9em;
}
.product-rating{
    font-size: 16px;
    font-weight: 600;
    color: #3089FC;
    cursor: pointer;
}
.product-header-right{
    width: 21%;
    max-width: 140px;
    float: right;
}
.product-price{
    font-size: 30px;
    font-weight: 900;
    text-align: right;
    color: #3089FC;
    margin-top: -6px;
}
.product-price-tip{
    font-size: 16px;
    text-align: right;
    line-height: 1.1em;
    margin-top: -6px;
    text-transform: uppercase;
    color: #3089FC;
}
.product-body-container{
    width: 67%;
    margin-left: 3%;
    margin-top: 20px;
    float: left;
}
.addcart{
    width: 37%;
    height: auto;
    padding: 20px;
    background: #F2F2F2;
    color: #505050;
    font-size: 13px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    float: right;
}
.addcart-top{
    font-size: 14px;
    font-weight: 900;
    padding-bottom: 15px;
    border-bottom: 1px solid #C3C3C3;
    overflow: hidden;
}
.addcart-top-left{
    width: 40%;
    float: left;
}
.addcart-top-left p{
    margin: 0;
}
.addcart-top-left span{
    float: left;
    margin-top: -5px;
    color: #57B754;
}
.addcart-top-right{
    width: 60%;
    text-align: right;
    float: right;
}
.addcart-top-right p{
    margin: 0;
}
.addcart-top-right span{
    float: right;
    margin-top: -5px;
    color: #3089FC;
}
.addcart-bottom{
    font-size: 14px;
    padding-top: 15px;
    overflow: hidden;
    color: #3089FC;
}
.addcart-bottom p{
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #363636;
    margin: 0;
}
.addcart-btn{
    width: 100%;
    height: auto;
    margin: 10px auto;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #177bfc;
    color: #FFFFFF;
    border: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.addcart-btn:hover{
    background-color: #177bfc;
    color: #FFFFFF;
    border: none;
}
.autoship-btn{
    width: 100%;
    height: auto;
    margin: 10px auto;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #219187;
    color: #FFFFFF;
    border: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.autoship-btn:hover{
    background-color: #219187;
    color: #FFFFFF;
    border: none;
}
.product-body-tabs{
    width: 60%;
    padding: 8px;
    background: #3089FC;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    float: left;

    overflow: hidden;
}
.product-body-tabs-content{
    padding: 10px;
    background: red;
    
}
.similar-products-container{
    width: 100%;
}
.similar-products-container p{
    color: #3089FC;
    font-size: 20px;
    padding: 5px 0;
    margin: 0;
}
.similar-products{
    width: 100%;
    height: auto;
    min-height: 200px;
    padding: 20px;
    background: #F2F2F2;
    color: #505050;
    font-size: 13px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    float: right;
}

/*  MOBILE SCREENS  */
@media only screen and (max-width: 975px) { 
    .breadcrumb-trail{
        font-size: 13px;
    }
    .product-image-container{
        width: 30%;
        float: left;
    }
    .product-header{
        width: 100%;
    }
    .product-header-left{
        width: 80%;
    }
    .product-brand{
        font-size: 14px;
    }
    .product-name{
        font-size: 22px;
    }
    .product-rating{
        font-size: 14px;
    }
    .product-header-right{
        width: 20%;
        max-width: 140px;
        float: right;
    }
    .product-price{
        font-size: 22px;
    }
    .product-price-tip{
        font-size: 14px;
    }
    .addcart{
        width: 100%;
    }
    .product-body-tabs{
        width: 100%;
        margin-top: 10px;
    }
    .similar-products-container{
        width: 30%;
    }
    .similar-products{
        height: auto;
        min-height: 100px;
    }
  }
  @media only screen and (max-width: 600px) {
    .product-image-container{
        width: 100%;
    }
    .product-image{
        width: 50%;
        margin: 0 25%;
    }
    .product-body-container{
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
        float: left;
    }
    .similar-products-container{
        width: 100%;
    }
  }
  @media only screen and (max-width: 375px) {
    .product-header-left{
        width: 72%;
    }
    .product-name{
        font-size: 17px;
    }
    .product-header-right{
        width: 28%;
    }
    .product-price{
        font-size: 17px;
    }
    .product-price-tip{
        font-size: 13px;
    }
  }
  @keyframes scale {
    0%{
      transform: scale(1.0);
    }
    100%{
      transform: scale(1.05);
    }
  }
  