.breadcrumb-trail{
    color: #2f89fc;
    font-size: 15px;
    padding-bottom: 10px;
    }
.product-image{
    width: 400px;
    height: 400px;
    float: left;
    background: #F2F2F2;
}
.product-header{
    width: 860px;
    height: 73px;
    margin-left: 40px;
    padding: 0;
    float: left;
}
.product-header-left{
    width: 84%;
    float: left;
}
.product-brand{
    font-size: 16px;
    color: #3089FC;
    margin-top: -6px;
}
.product-name{
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    margin-top: -12px;
}
.product-rating{
    font-size: 16px;
    font-weight: 600;
    color: #3089FC;
    margin-top: -6px;
}
.product-header-right{
    width: 16%;
    float: left;
}
.product-price{
    font-size: 30px;
    font-weight: 900;
    text-align: right;
    color: #3089FC;
    margin-top: -6px;
}
.product-price-tip{
    font-size: 16px;
    text-align: right;
    line-height: 1.1em;
    margin-top: -6px;
    text-transform: uppercase;
    color: #3089FC;
}