::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: #DEDEDE;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #CCCCCC; 
    border-radius: 10px;
}


.filter-container{
    width: 16%;
    height: auto;
    min-height: 300px;
    padding: 10px;
    background: #F2F2F2;
    color: #505050;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    float: left;
}
.filter-title{
    color: #177bfc;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0px;
}
.filter-items{
    width: 100%;
    height: auto;
    max-height: 260px;
    color: #333333;
    padding: 5px;
    overflow-y: auto;
}
.filter-items p{
    margin: 0px;
    padding-bottom: 5px;
    cursor: pointer;
}
.filter-items p:hover{
    text-decoration: underline;
}


.term-container{
    width: 82%;
    margin-bottom: 20px;
    font-size: 16px;
    float: right;
}
.results-container{
    width: 82%;
    height: auto;
    min-height: 300px;
    margin-left: 2%;
    color: #505050;
    font-size: 13px;
    float: right;
}