::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: #DEDEDE;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #CCCCCC; 
    border-radius: 10px;
}

.mobile-filter-container{
    display: none;
}
.sort-container{
    display: none;
}
.filter-container{
    width: 18%;
    height: auto;
    min-height: 300px;
    padding: 10px;
    background: #F2F2F2;
    color: #505050;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    float: left;
    display: static;
}
.filter-title{
    color: #177bfc;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}
.filter-items{
    width: 100%;
    height: auto;
    max-height: 270px;
    color: #333333;
    padding: 5px;
    margin-bottom: 10px;
    overflow-y: auto;
}
.filter-items p{
    margin: 0px;
    padding-bottom: 5px;
    line-height: 1.2em;
    margin-bottom: 8px;
    cursor: pointer;
}
.filter-items p:last-child{
    margin-bottom: 0px;
}
.filter-items p:hover{
    text-decoration: underline;
}
.term-container{
    width: 80%;
    margin: 0px 1% 10px 1%;
    padding-left: 1%;
    font-size: 16px;
    float: right;
}
.results-container{
    width: 80%;
    height: auto;
    min-height: 300px;
    margin: 0px 1% 10px 1%;
    padding: 0px;
    color: #505050;
    font-size: 13px;
    float: right;
}
.results-item{
    width: 24%;
    height: auto;
    padding: 20px;
    margin: 0 0 1% 1%;
    border: 1px solid #CCCCCC;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    float: left;
    cursor: pointer;
    display: inline-block;
}
.results-item-image{
    width: 100%;
    background: coral;
}
.results-item-image img{
    width: 100%;
    height: auto;
}
.results-item-title{
    font-size: 16px;
    line-height: 1em;
}
.results-item-title span{
    color: #177bfc;
    font-weight: bold;
    padding-right: 5px;
}
.results-item-rating{
    color: #177bfc;
    font-size: 16px;
    padding: 2px 0px 5px;
}
.results-item-price{
    color: #177bfc;
    font-size: 18px;
    font-weight: bold;
}














/*  MOBILE SCREENS  */
@media only screen and (max-width: 975px) { 
    .filter-container{
        width: 24%;
    }
    .term-container{
        width: 74%;
    }
    .results-container{
        width: 74%;
    }
    .results-item{
        width: 32.33%;
    }
  }
  @media only screen and (max-width: 600px) {
    .mobile-filter-container{
        width: 100%;
        height: auto;
        padding: 10px;
        margin-bottom: 10px;
        background: #F2F2F2;
        color: #505050;
        text-align: center;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        float: left;
        cursor: pointer;
        display: inline;
    }
    .filter-container{
        display: none;
    }
    .term-container{
        width: 100%;
        float: left;
    }
    .results-container{
        width: 100%;
        margin-left: -1.5%;
        float: left;
    }
    .results-item{
        width: 47.003%;
        margin: 0px 0px 3% 3%;
    }
  }
  @media only screen and (max-width: 375px) {
  }
  @keyframes scale {
    0%{
      transform: scale(1.0);
    }
    100%{
      transform: scale(1.05);
    }
  }