/* CategoryPageHeadingTab.js */
.categoryPageHeading{
    width: 100%;
    height: auto;
    background: #14B297;
    color: #FFFFFF;
    text-align: center;
    padding: 60px 0;
}
.categoryPageHeading .tabContainer h1{
    font-size: 3.5em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    text-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    color: #FFFFFF;
}

/* CategoryPageContentTab.js */
.categoryPageContent{
    width: auto;
    box-sizing: border-box;
    border-top: .25px solid #cfcfcf;
    border-left: .25px solid #cfcfcf;
    overflow: hidden;
    margin: 10px;
}
.categoryPageItem{
    width: 20%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    border-right: .25px solid #cfcfcf;
    border-bottom: .25px solid #cfcfcf;
    float: left;
}
.categoryPageItemImage{
    width: 100%;
    margin: auto;
    text-align: center;
    overflow: hidden;
}
.categoryPageItemImage img{
    height: 214px;
}
.categoryPageItemBrand{
    line-height: 1.6em;
    color: #177bfc;
    font-weight: bold;
    font-size: 1em;
}
.categoryPageItemName{
    height: 38px;
    padding: 0;
    line-height: 1.3em;
    font-size: 1em;
    text-align: left;
    color: #000000;
    overflow: hidden;
}
.categoryPageItemPrice{
    font-size: 1.5em;
    font-weight: bold;
    color: #2977DE;
    margin-top: 10px;
}

/* CategoriesTab.js */
.categoriesContainer{
    padding: 5px 0;
    background: #2977DE;
    color: #FFFFFF;
}
.categoriesContainerTitle{
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 0;
    padding-top: 10px;
    margin: 5px 0;
}
.categoriesContentBody{
    width: 97%;
    height: auto;
    padding: 10px;
    margin: 0 0px 10px 10px;
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}
.categoriesItemContainer{
    width: 16.6%;
    float: left;
    color: #FFFFFF;
}
.categoriesItemContainer:hover{
    text-decoration: underline;
}
.categoriesItemImage{
    width: auto;
    min-width: 50%;
    max-width: 75%;
    height: auto;
    margin: 0 auto;
    padding: 5px;
    background: #F7F7F7;
    overflow: hidden;
    border-radius: 100px;
}
.categoriesItemImage img{
    width: 60%;
    margin: 20%;
}
.categoriesItemTitle{
    padding: 10px;
    font-size: 18px;
    text-align: center;
  }


/* TrendingContentTab */
.trendingContentContainer{
    padding: 5px 0;
    margin: 10px 0;
    background: #FFFFFF;
}
.trendingContentTitle{
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    color: #474D5E;
    text-align: left;
    padding: 0 10px 0 40px;
    margin: 10px 0;
}
.trendingContentBody{
    height: auto;
    padding: 10px;
    margin: 0 10px 10px 10px;
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    background: #FFFFFF;
}
.trendingItemContainer{
    width: 155px;
    height: 200px;
    margin: 1%;
    white-space: normal;
    overflow: hidden;
    display: inline-block;
}
.trendingItemContainer:hover{
    color: #474D5E;
    text-decoration: underline;
}
.trendingItemImage{
    width: 100%;
    min-width: 50%;
    height: auto;
    margin: 0 auto;
    padding: 5px 10px;
    overflow: hidden;
    top: 0;
    position: flex;
}
.trendingItemImage img{
    width: 100%;
}
.trendingItemTitle{
    height: 49px;
    padding: 0px 10px;
    line-height: 1.1em;
    font-size: 13px;
    text-align: left;
    color: #474D5E;
    overflow: hidden;
}
.trendingItemBrand{
    width: 100%;
    line-height: 1.6em;
    color: #177bfc;
    font-weight: bold;
    float: left;
}
/* product-info-container */
.product-info-container{
    width: 41%;
    margin: 0px 1.5% 0px 1.5%;
    float: left;
}
.product-info-tabs{
    width: 100%;
    padding: 8px;
    background: #3089FC;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    position: relative;
    float: left;
}
.product-info-tabs-arrow:after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    border-right: .75em solid #3089FC;
    border-top: .75em solid #3089FC;
    border-radius: 4px;
    transform: rotate(135deg);
    margin-left: -0.65em;
    margin-top: -0.2em;
}
.product-info-content{
    width: 100%;
    height: auto;
    min-height: 100px;
    padding: 15px 10px 10px 10px;
    margin-bottom: 10px;
    float: left;
}
.product-info-content p{
    margin: 0px;
}














@media only screen and (max-width: 1150px) {
    /* CategoryPageContentTab.js */
    .categoryPageItem{
        width: 25%;
    }
}
@media only screen and (max-width: 975px) {
    /* CategoryPageContentTab.js */
    .categoryPageItem{
        width: 33.33%;
    }
    .categoryPageItemImage img{
        height: 174px;
    }

    .categoryPageItemBrand{
        font-size: 0.9em;
    }
    .categoryPageItemName{
        height: 33px;
        font-size: 0.9em;
    }
    .categoryPageItemPrice{
        font-size: 1.2em;
    }

    /* CategoriesTab.js */
    .categoriesItemContainer{
      width: 33.3%;
    }
    .categoriesItemImage{
      min-width: 30%;
      max-width: 60%;
    }
}
@media only screen and (max-width: 600px) {
        /* CategoryPageContentTab.js */
        .categoryPageItem{
            width: 50%;
        }
        .categoryPageItemImage img{
            height: 150px;
        }
}
@media only screen and (max-width: 375px) {
    
    /* CategoryPageContentTab.js */
    .categoryPageItem{
        width: 100%;
    }
    .categoryPageItemImage img{
        height: 150px;
    }

    /* CategoriesTab.js */
    .categoriesItemImage{
      min-width: 30%;
      max-width: 60%;
    }
    .categoriesItemTitle{
      font-size: 15px;
    }
}
@keyframes scale {
    0%{
      transform: scale(1.0);
    }
    100%{
      transform: scale(1.05);
    }
}