/*  Login Page  */
.signin-title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 30px 0 20px;
}
  .signin-container{
    width: 90%;
    max-width: 375px;
    margin: 0 auto;
    padding: 30px 40px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #F2F2F2;
  }
  .signin-container p{
    color: #2877DE;
    text-align: right;
  }
  .signin-input-title{
    margin: 10px 0 -5px;
    color: #2877DE;
  }
  .signin-form{
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 0px;
    margin: 5px auto;
    padding: 5px 15px;
    font-weight: 400;
    font-size: 16px;
    background: white;
    border: 1px solid #CCCCCC;
    outline: none;
  }
  .signin-form:focus{
    color: #000000;
  }
  .signin-btn{
    width: 100%;
    display: block;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 0px;
    margin: 5px auto;
    padding: 8px 20px;
    background: #2f89fc;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    position: flex;
    outline: none;
  }
  .signin-register-container{
    width: 75%;
    max-width: 300px;
    margin: 50px auto;
    padding: 20px 30px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #3089FC;
  }
  .signin-register-title{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: #FFFFFF;
  }
  .signin-register-btn{
    width: 100%;
    display: block;
    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 0px;
    margin: 5px auto;
    padding: 8px 20px;
    background: #FFFFFF;
    color: #363636;
    font-weight: 600;
    font-size: 16px;
    position: flex;
    outline: none;
  }












/*  REGISTER PAGE  */
.registerFormInput{
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 0px;
    margin: 5px auto;
    padding: 5px 15px;
    font-weight: 400;
    font-size: 16px;
    background: white;
    border: 1px solid #CCCCCC;
    outline: none;
}
.registerFormInput:focus{
    color: #000000;
}
.registerFormButton{
    width: auto;
    display: block;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 0px;
    margin: 5px auto;
    padding: 8px 20px;
    background: #2f89fc;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    position: flex;
    outline: none;
}

/*User Settings*/
.user-tabs-container{
    width: 20%;
    margin-right: 3%;
    padding-bottom: 10px;
    background: #EEEEEE;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float: left;
}
.user-tabs-title{
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    color: #222222;
}
.user-tabs-active{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    background: #DDDDDD;
    border-left: 3px solid #2f89fc;
    cursor: pointer;
}
.user-tabs{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.user-tabs:hover{
    background: #CCCCCC;
}
.user-content-container{
    width: 77%;
    float: left;
}
.user-title{
    height: 48px;
    line-height: 48px;
    font-size: 26px;
    font-weight: 500;
}
.user-title span{
    font-size: 13px;
    float: right;
}


/* ACCOUNT PAGE CSS */
.personal-tab{
    height: auto;
    margin: 10px 0;
    overflow: hidden;
    border-bottom: 1px solid #DDDDDD;
}
.personal-tab:last-child{
    border-bottom: none;
}
.personal-title{
    width: 20%;
    height: 100%;
    padding: 10px;
    font-weight: 600;
    float: left;
}
.personal-description{
    width: 80%;
    padding: 10px;
    font-weight: 500;
    float: right;
}
.personal-description span{
    font-size: 12px;
    color: #2f89fc;
    cursor: pointer;
    float: right;
}




@media only screen and (max-width: 975px) {
    /*  Login Page  */
    .signin-title{
        font-size: 30px;
    }
    .signin-register-title{
        font-size: 22px;
    }
  }
  @media only screen and (max-width: 600px) {
    /*  Login Page  */
    .signin-title{
        font-size: 30px;
    }
    .signin-register-title{
        font-size: 22px;
    }
    .signin-register-btn{
        font-size: 12px;
    }
  }
  @media only screen and (max-width: 375px) {
    /*  Login Page  */
    .signin-title{
      font-size: 30px;
  }
  .signin-register-title{
      font-size: 22px;
  }
  }
  @keyframes scale {
    0%{
      transform: scale(1.0);
    }
    100%{
      transform: scale(1.05);
    }
  }
  
  